@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cmyk";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(90% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(71.772% 0.133 239.443);
  --color-primary-content: oklch(14.354% 0.026 239.443);
  --color-secondary: oklch(64.476% 0.202 359.339);
  --color-secondary-content: oklch(12.895% 0.04 359.339);
  --color-accent: oklch(94.228% 0.189 105.306);
  --color-accent-content: oklch(18.845% 0.037 105.306);
  --color-neutral: oklch(21.778% 0 0);
  --color-neutral-content: oklch(84.355% 0 0);
  --color-info: oklch(68.475% 0.094 217.284);
  --color-info-content: oklch(13.695% 0.018 217.284);
  --color-success: oklch(46.949% 0.162 321.406);
  --color-success-content: oklch(89.389% 0.032 321.406);
  --color-warning: oklch(71.236% 0.159 52.023);
  --color-warning-content: oklch(14.247% 0.031 52.023);
  --color-error: oklch(62.013% 0.208 28.717);
  --color-error-content: oklch(12.402% 0.041 28.717);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "coffee";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(24% 0.023 329.708);
  --color-base-200: oklch(21% 0.021 329.708);
  --color-base-300: oklch(16% 0.019 329.708);
  --color-base-content: oklch(72.354% 0.092 79.129);
  --color-primary: oklch(71.996% 0.123 62.756);
  --color-primary-content: oklch(14.399% 0.024 62.756);
  --color-secondary: oklch(34.465% 0.029 199.194);
  --color-secondary-content: oklch(86.893% 0.005 199.194);
  --color-accent: oklch(42.621% 0.074 224.389);
  --color-accent-content: oklch(88.524% 0.014 224.389);
  --color-neutral: oklch(16.51% 0.015 326.261);
  --color-neutral-content: oklch(83.302% 0.003 326.261);
  --color-info: oklch(79.49% 0.063 184.558);
  --color-info-content: oklch(15.898% 0.012 184.558);
  --color-success: oklch(74.722% 0.072 131.116);
  --color-success-content: oklch(14.944% 0.014 131.116);
  --color-warning: oklch(88.15% 0.14 87.722);
  --color-warning-content: oklch(17.63% 0.028 87.722);
  --color-error: oklch(77.318% 0.128 31.871);
  --color-error-content: oklch(15.463% 0.025 31.871);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "valentine";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(97% 0.014 343.198);
  --color-base-200: oklch(94% 0.028 342.258);
  --color-base-300: oklch(89% 0.061 343.231);
  --color-base-content: oklch(52% 0.223 3.958);
  --color-primary: oklch(65% 0.241 354.308);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(39% 0.09 240.876);
  --color-neutral: oklch(40% 0.153 2.432);
  --color-neutral-content: oklch(89% 0.061 343.231);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(44% 0.11 240.79);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "luxury";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14.076% 0.004 285.822);
  --color-base-200: oklch(20.219% 0.004 308.229);
  --color-base-300: oklch(23.219% 0.004 308.229);
  --color-base-content: oklch(75.687% 0.123 76.89);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(27.581% 0.064 261.069);
  --color-secondary-content: oklch(85.516% 0.012 261.069);
  --color-accent: oklch(36.674% 0.051 338.825);
  --color-accent-content: oklch(87.334% 0.01 338.825);
  --color-neutral: oklch(24.27% 0.057 59.825);
  --color-neutral-content: oklch(93.203% 0.089 90.861);
  --color-info: oklch(79.061% 0.121 237.133);
  --color-info-content: oklch(15.812% 0.024 237.133);
  --color-success: oklch(78.119% 0.192 132.154);
  --color-success-content: oklch(15.623% 0.038 132.154);
  --color-warning: oklch(86.127% 0.136 102.891);
  --color-warning-content: oklch(17.225% 0.027 102.891);
  --color-error: oklch(71.753% 0.176 22.568);
  --color-error-content: oklch(14.35% 0.035 22.568);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
